* {
/*    font-size: 14px;
*/    
font-family:IRANSansFaNum, 'Arial Narrow', Arial, sans-serif
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/* استایل‌های پایه */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
    transition: all 0.3s ease;
}

    /* استایل‌های RTL */
    body.rtl {
        text-align: right;
        direction: rtl;
    }

        body.rtl .language-switcher {
            left: 20px;
            right: auto;
        }



    /* استایل‌های LTR */
    body.ltr {
        text-align: left;
        direction: ltr;
    }

        body.ltr .language-switcher {
            right: 20px;
            left: auto;
        }

/* دکمه‌های تغییر زبان */
.language-switcher {
    /*  position: fixed;*/
    top: 20px;
    padding: 10px;
    background: #f5f5f5;
    /*    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);*/
}

    .language-switcher button {
        margin: 0 5px;
        padding: 8px 15px;
        border: 1px solid #ddd;
        background: white;
        cursor: pointer;
        border-radius: 3px;
        transition: all 0.2s;
    }

        .language-switcher button:hover {
            background: #007bff;
            color: white;
            border-color: #007bff;
        }


.dropdown-toggle::after {
    margin-right: 0.5rem;
}

.dropdown-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#currentLanguageFlag, #currentLanguageName {
    margin-left: 0.3rem;
}
