@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 data-i18n="Welcome"></h1>

    <button class="btn btn-success" data-i18n="Save"></button>

    <input class="form-control" data-i18n-placeholder="Search" />

</div>

@*<div class="container mt-5">
    <div class="row">

        <button class="btn btn-sm btn-outline-primary" onclick="i18n.load('fa')">
            فارسی
        </button>

        <button class="btn btn-sm btn-outline-secondary" onclick="i18n.load('en')">
            English
        </button>
    </div>

</div>*@




@section Scripts{



    <script>

 

    </script>
}
